<% if user_signed_in? %>
<h1>Welcome!</h1>
<h3>Choose from Product Reviews to start reviewing some of your favorite items on the market.</h3>

<h3>Or hop into the Forum to chat about the latest news and topics in the makeup industry!</h3>

<% end %>