<h1>Member Forum</h1>
<h4>Chat with members about all things Makeup!</h4>
<div><h2><%= link_to 'Add a new Topic!', new_topic_path %></h2></div>

<div>
	<h4>Latest Topics</h4>
	<% @topics.each do |t| %>

		<ul>
			<%= link_to t do %>
				<li><%= t.title %></li>
			<% end %>
		</ul>
	<% end %>

</div>
