<% if user_signed_in? %>
	<h1>Welcome!</h1>
	<div class="container-fluid">
		<p class="col-md-8">Start reviewing some of your favorite items on the market through the product reviews link above.</p>

		<p class="col-md-8">Hop into the Forum to chat about the latest news and topics in the makeup industry!</p>
	</div>
<% end %>