<h1>Member Forum</h1>
<h4>Chat with members about all things Makeup!</h4>
<div>
	<h2>Latest Topics</h2>
	<div class="new-post-link"><h4><%= link_to 'Post a new Topic!', new_topic_path %></h4></div>
	<% @topics.each do |t| %>

		<ul>
			<%= link_to t do %>
				<li class="topic-title"><%= t.title %></li>
			<% end %>
		</ul>
	<% end %>

</div>
